@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

body{
    background-color: #0b0f19;
}

header{
    background-color: #0b0f19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgba(100, 100, 100, 0.199);
}

header h3{
    color: white;
}

header nav{
    display: flex;
    justify-content: center;
    padding: 25px;
}

header nav div{
    padding: 10px;
}

#config{
    display: flex;
    justify-content: center;
    align-items: center;
}

#config a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

#config a:hover{
    color: #262779;
}

#entrar{
    padding: 10px;
    font-size: 10pt;
    background-color: #5900ff;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    float: center;
    border-radius: 5px;
    transition: 0.3s;
}

#entrar:hover{
    background-color: #262779;
}

#criarconta{
    padding: 10px;
    font-size: 10pt;
    background-color: #262779;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    float: center;
    border-radius: 5px;
    transition: 0.3s;
}

#criarconta:hover{
    background-color: #5900ff;
}





.navdasnavs1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.nav_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.nav_1 h1{
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: green;
    font-size: 15pt;
}

.divimg{
    background-image: url(/images/wp6425178.jpg);
    border: 1px solid white;
    width: 250px;
    height: 350px;
}

.nav_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
}

.nav_2 h1{
    font-size: 22pt;
}

.nav_2 h2{
    font-size: 15pt;
    margin-bottom: 50px;
}

.nav_2 p{
    font-size: 5;
}

.nav_2_1{
    padding: 80px;
}




.nav2_3{
    background-color: #10141d;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 80px;
    margin-left: 7.5%;
}

.navesp{
    background-color: #181c24;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.8%;
    height: 50%;
}

.navop{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
}

.divop{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divop div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: center;
    border-left: 1px solid rgba(255, 255, 255, 0.199);;
    border-right: 1px solid rgba(255, 255, 255, 0.199);;
}

.nav2_3 div{
    display: flex;
    justify-content: center;
}