@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    overflow: hidden;
}

body{
    background-image: url(/images/wp6425178.jpg);
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}

header nav{
    display: flex;
}

header nav div{
    padding: 30px;
}

#inicio{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

#inicio:hover{
    color: #4044ee;
}

#criarconta{
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #5900ff;
    transition: 0.3s;
}

#criarconta:hover{
    background-color: #262779;
}

.navdasnavs{
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.nav1{
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

.nav1 div h1{
    padding: 20%;
    color: white;
    font-size: 50pt;
}

.nav2{
    background-color: #0b0f19;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.div1{
    padding: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.div1 h1{
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 25pt;
    margin-bottom: 25px;
}

h3{
    font-size: 12pt;
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

input{
    color: white;
    background-color: #10141d;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    transition: 0.5s;
    margin-bottom: 25px;
}

input:focus{
    border: 1px solid rgb(201, 201, 201);
}

button{
    padding: 10px;
    font-size: 12pt;
    background-color: #5900ff;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    float: center;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover{
    background-color: #262779;
}

.div2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label{
    font-size: 10pt;
    color: rgb(201, 201, 201);
}

#checkboxinput{
    margin-right: 10px;
    margin-bottom: 0px;
}



@media screen and (max-width: 1200px) {
    .nav1{
        width: 40%;
    }

    .nav2{
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .nav1{
        display: none;
    }

    .nav2{
        width: 100%;
    }
}